* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255)
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrap {
  border: solid rgba(75, 83, 94, 0.616) 10px;
  border-radius: 17px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.case {
  display: flex;
  flex-direction: column;
  border: solid black 3px;
  border-radius: 6px;
  height: 700px;
  width: 450px;
  background-color: rgb(0, 0, 0);
}

.display {
  border: solid rgba(75, 83, 94, 0.623) 8px;
  border-radius: 3px;
  height: 115px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.925);
  margin: 1px 1px 2px;
}

.output {
font-size: 70px;
margin: 0 4px;
color: rgb(255, 72, 0);
font-family: monospace;
}

.functions {
  height: 122px;
  display: flex;
  margin-bottom: 2px;
  gap: 1px;
}

.backspace {
  flex: 2.05;
  margin: 2px 2px 0;
  font-size: 22px;
}

.clear {
  flex: 1;
  margin: 2px 1px 0;
  font-size: 22px;
}

.backspace,
.clear {
  background-color: rgba(68, 72, 90, 0.87);
  font-weight: bolder;
  border: solid lightslategray 1px;
  border-radius: 2px;
}

.backspace:hover,
.clear:hover {
  background-color: rgb(68, 72, 90);
}

.operands-and-operators {
  flex: 1;
  display: flex;
}

.operands {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.operand {
  flex: 1;
  font-size: 25px;
  background-color: rgba(68, 72, 90, 0.87);
  font-weight: bolder;
  border: solid lightslategray 1px;
  border-radius: 2px;
  margin: 2px;
}

.operand:hover {
  background-color: rgb(68, 72, 90);
}

.zero, 
.decimal{
  height: 133px;
}

.decimal {
  font-size: xx-large;
}

.zero {
  flex: 2.05;
}

.operators {
  flex: .993;
  flex-direction: column;
  display: flex;
}

.operator {
  flex: 1;
  font-size: 25px;
  background-color: rgba(68, 72, 90, 0.87);
  font-weight: bolder;
  border: solid lightslategray 1px;
  border-radius: 2px;
  margin: 2px;
}

.operator:hover {
  background-color: rgb(68, 72, 90);
}

.add-and-subtract,
.multiply-and-divide,
.equals {
  flex: 1;
  display: flex;
}

.add-and-subtract, 
.multiply-and-divide {
  flex: 1.11;
}

.seven-through-nine,
.six-through-four,
.one-through-three,
.zero-and-decimal {
  display: flex;
  flex: 1;
}

button:hover {
  cursor: pointer;
}

